{{#each this}}
    <li class="movie-card">
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" width="500" class="movie-card__poster">
        <p class="movie-card__title">{{title}}</p>
        <p class="movie-card__descr">{{genre_ids}} | {{release_date}}</p>
    </li>
{{/each}}